modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 19805
externalPort = 3000

[[ports]]
localPort = 21090
externalPort = 3001

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
CLOUDFLARE_D1_DATABASE_ID = "103212b6-6a28-4d70-acf1-18f06f6f74a8"
KAGGLE_USERNAME = "rickjefferson"
ENCRYPTION_KEY = "392d3302879fde04baa26c0b497a35fec6c21b244c19a5ddd71e99bb0279adad"
STRIPE_PUBLISHABLE_KEY = "pk_live_51ShGVR1ol5unodB2ihigOFXRIToYaB2t8yzQxyXBdXlczWogfThagRZy08r9jk16E2b8W7HnbkomNlSFeSVwK11G00W09dlcrq"
OPENROUTER_API_KEY = "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"
OPENAI_API_KEY = "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"
STRIPE_SECRET_KEY = "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"
