modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 19805
externalPort = 3000

[[ports]]
localPort = 21090
externalPort = 3001

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
CLOUDFLARE_D1_DATABASE_ID = "103212b6-6a28-4d70-acf1-18f06f6f74a8"
KAGGLE_USERNAME = "rickjefferson"
ENCRYPTION_KEY = "392d3302879fde04baa26c0b497a35fec6c21b244c19a5ddd71e99bb0279adad"
STRIPE_PUBLISHABLE_KEY = "pk_live_51ShGVR1ol5unodB2ihigOFXRIToYaB2t8yzQxyXBdXlczWogfThagRZy08r9jk16E2b8W7HnbkomNlSFeSVwK11G00W09dlcrq"
OPENROUTER_API_KEY = "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"
OPENAI_API_KEY = "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"
STRIPE_SECRET_KEY = "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"
PERPLEXITY_API_KEY = "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"
GROQ_API_KEY = "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"
TOGETHER_AI_API_KEY = "tgp_v1_uCtCAe47Kdb1MvbojEdctQ7-XN5JM5pYvTZncQKrnXo"
DEEPSEEK_API_KEY = "sk-b425a6b1d7404f629ed5dd4d2e2c5c1a"
GOOGLE_API_KEY = "AIzaSyBfKTDYRPiy7EVcA9jjyF1bOq3_cOj2d5Q"
GOOGLE_MAPS_API_KEY = "AIzaSyDH0BkDfE3BwEi3DCDC7LhYlHXs92OYonU"
NVIDIA_API_KEY = "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"
KIMI_API_KEY = "sk-l6Kmo48y2h1AXuVpTp4WepnmwOrVaO6nkr8KGPxZ0pCQii5J"
RAPIDAPI_KEY = "ac7dbc0a2dmshc2a1fe624de264fp121f98jsna26622c59d3f"
BRAVE_API_KEY = "BSAWDkbF7o9LHvxXmjBFsBLGAykz2kG"
COMPOSIO_API_KEY = "ak_T2SgaBiPp_cqoEdrQ9Ba"
CLOD_API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjU3I3YklQTmd6TXA0YUdzQWZQNTc4WklGUmIyIiwidXNlcklkIjoiY1NyN2JJUE5nek1wNGFHc0FmUDU3OFpJRlJiMiIsInRlYW1JZCI6ImUyMmUyM2NkLTk0ZjktNDkxNC1hYzRmLWY1ZjEzZDQ3MmNhYiIsInRlYW1Sb2xlIjoib3duZXIiLCJwcm9qZWN0SWQiOiI0ZmUzMDY5YS00Mzk0LTRkNzQtOTNiMi1iZDE0N2EzNDhjZmIiLCJpYXQiOjE3Nzc1Njc2MzEsImV4cCI6MTgyNzU2NzYzMX0.2SrDWHx74PKhJEWVy1UUDeW8uMckuPqCYS4RqQq8ZnU"
DISPUTEFOX_API_KEY = "Fox_d2b91RywvEp6ZlV1iRxRTOK5s7nWhVEh"
PAYPAL_CLIENT_ID = "AQ.Ab8RN6JHIMx90G_42QzZm3bDZP5hlWtTz4QH1qC28"
PAYPAL_CLIENT_SECRET = "SVRQZmAgw"
COURT_LISTENER_API_KEY = "19f8bbe3a51ecb842de3bd8f2759a7ab95bcae16"
DATA_GOV_API_KEY = "EFKCTYE7SuVAVESWz24GKdgzBWcwZok8w0gVamw2"
COINBASE_API_KEY_ID = "6e37d8b3-97a6-46cd-b1c0-4fec511f177b"
GITHUB_TOKEN = "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"
INFERMATIC_API_KEY = "sk-XDu21qKO1Q7AhYJR9YwLhg"
INFERMATIC_API_URL = "https://api.totalgpt.ai"
ZAI_API_KEY = "e0c30f9e280545a3b55c4fc43108daea.pOOwPtcyWzOYwJpC"
CHUTES_API_KEY = "cpk_86fa1d0e281a4dd5905dea896c1706cf.671dcf99a3f45d2fba9e7cfdd050899a.UWSO2D2J5yTfYWklHnIEjUlsrhncsk79"
CLOD_API_URL = "https://api.clod.io/v1"
MINIMAX_API_KEY = "sk-cp-v6CQcdZYTUcj28Ku8KSYit-3DkQbj-OQIeO89OL1uFyHy-8rFgheru6uMC7Equ9JvUOAf_5X8bRbYZsUGhbKRUFbBCsC484K4BBq1ckD5NTWmy6xmkTSRfg"
MINIMAX_AUDIO_KEY = "sk-api-BBx7ebXgnXoIbtax3pS_yJVarW3maXQDSU2w3puVwn3L3aEFPo9YJgPZoL4GJidXfGNILTBytQDsI7ouuiHiRork4UMdrlYhzrzgTTlMNKtXhwUJ_9Uncow"
MINIMAX_BASE_URL = "https://api.minimax.io/anthropic"
GOOGLE_OAUTH_CLIENT_ID = "325284650320-n1k5gho8q51mep3i226ehfkhqdhril9p.apps.googleusercontent.com"
COMPANY_NAME = "RJ Business Solutions"
COMPANY_WEBSITE = "https://rjbusinesssolutions.org"
COMPANY_EMAIL = "support@rjbusinesssolutions.org"
MFSN_API_URL = "https://api.myfreescorenow.com/api"
MFSN_AID = "RickJeffersonSolutions"
MFSN_DEFAULT_PID = "49914"
MFSN_EMAIL = "rickjefferson@rickjeffersonsolutions.com"
